*{
	background-color: #0FA3B1;
	color: #B5E2FA;
	font-family: ;
}
body{
	
}
head{
	
}
header{
	text-align: center;
}
nav{
	
}
nav a{
	
}
div{

}
.rectangle{
	background-color: purple;
	height: 100px;
	width: 200px;
	margin: auto;
}
h1{
	
}
h2{
	
}
p{
	
}
footer{
	
}