*{
	background-color: #5FA8D3;
	color: #EAE8FF;
	font-family: Palantino;
	box-sizing: border-box;

}
body{
	
}
header{
	text-align: center;
	background-color: #1B4965;
}
nav{
	background-color: #62B6CB;
}
nav a{
	color: blue;
}
div{

}
.top{
	background-color: #1B4965;
}
.rectangle{
	background-color: purple;
	height: 100px;
	width: 200px;
	margin: auto;
}
h1{
	color: #CAE9FF;
	font-family: Georgia;
}
h2{
	color: #BEE9E8;
}
p{
	
}
a{
	margin: auto;
}
footer{
	text-align: center;
	margin: auto;
}